@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;500&display=swap&family=Source+Serif+Pro&display=swap&family=Roboto');

/*
font-family: 'Signika', sans-serif;
font-family: 'Source Serif Pro', serif;

*/
:root {
    --first: #184e77;
    --second: #ee6c4d;
    --third : #8ecae6;
}
.disableSelect{
    user-select: none;
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}
.ql-font-signika {
    font-family: 'Signika', sans-serif;
}

.fontSignika{
    font-family: 'Signika', sans-serif;
}
.fontSource{
    font-family: 'Source Serif Pro', serif;

}

.disableSelect{
    user-select: none;
}
.linearGrad1{
    background-image:  linear-gradient(to right , var(--second), var(--first));
}

.linearGrad2{
    background-image:  linear-gradient(to right , var(--first), var(--second));
}

.shadow1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
body::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}
body::-webkit-scrollbar-track {
    background: var(--second);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--first);
}
